	/*-------- ICONS --------*/

	svg {
		display: inline-block;
		width: 100%;
		height: 100%;
		vertical-align: top;
	}

	svg use {
		pointer-events: none;
	}

	.icon, .icon-7, .icon-8, .icon-9, .icon-10, .icon-12, .icon-13, .icon-14, .icon-18, .icon-17, .icon-20, .icon-24, .icon-32, .icon-48, .icon-50, .icon-64 {
		display: inline-block;
		vertical-align: middle;
	}

	.zc-popup-wrap svg {
		fill: #777;
	}

	/*-------- ICONS SIZE  --------*/



	.icon {
		width: 16px;
		height: 16px;
	}
	
.icon-7 {
		width: 7px;
		height: 7px;
	}

	.icon-8 {
		width: 8px;
		height: 8px;
	}


	.icon-9 {
		width: 9px;
		height: 9px;
	}

	.icon-10 {
		width: 10px;
		height: 10px;
	}

	.icon-12 {
		width: 12px;
		height: 12px;
	}

	.icon-13 {
		width: 13px;
		height: 13px;
	}

	.icon-14 {
		width: 14px;
		height: 14px;
	}

	.icon-17 {
		width: 17px;
		height: 17px;
	}

	.icon-18 {
		width: 18px;
		height: 18px;
	}

	.icon-20 {
		width: 20px;
		height: 20px;
	}

	.icon-24 {
		width: 24px;
		height: 24px;
	}

	.icon-32 {
		width: 32px;
		height: 32px;
	}

	.icon-48 {
		width: 48px;
		height: 48px;
	}

	.icon-50 {
		width: 50px;
		height: 50px;
	}

	.icon-64 {
		width: 64px;
		height: 64px;
	}

	/*-------- ICONS FILL COLORS  --------*/

	.zc-white {
		fill: #fff;
	}

	.zc-black {
		fill: #777;
	}

	.zc-darkBlack {
		fill: #636363;
	}

	.zc-lightBlack {
		fill: #888;
	}

	.zc-grey {
		fill: #919191;
	}

	.zc-yellow {
		fill: #fdc015;
	}

	.zc-darkYellow {
		fill: #f7b408;
	}

	.zc-green {
		fill: #35ac51;
	}

	.zc-lightGreen {
		fill: #86bf86;
	}

	.zc-darkGreen {
		fill: #228B22;
	}

	.zc-blue { 
		fill: #0b8fe9;
	}

	.zc-lightBlue { 
		fill: #3ca5ed;
	}

	.zc-lighterBlue { 
		fill: #6c6cf9;
	}

	.zc-darkBlue { 
		fill: #2e2ef7;
	}

	.zc-red {
		fill: #e43434;
	}

	.zc-lightRed {
		fill: #ff9494;
	}

	.zc-darkRed {
		fill: #df5f62;
	}

	.zc-orange {
		fill: #f8722f;
	}

	.zc-lightOrange {
		fill: #ffaa66;
	}

	.zc-darkOrange {
		fill: #e67301;
	}

	.zc-darkestOrange {
		fill: #f15f25;
	}

	.zc-violet {
		fill: #c646e4;
	}

	.zc-lightViolet {
		fill: #cfa2dc;
	}

	.zc-oliveGreen {
		fill: #a19f26;
	}

	.zc-darkestTealGreen {
		fill: #02a381
	}

	.zc-indigo {
		fill: #6268df;
	}

	.zc-livid {
		fill: #224a5e;
	}

	.zc-lightLivid {
		fill: #4e6e7e;
	}

	.zc-lighterLivid {
		fill: #4e6e7e;
	}

	.zc-darkLivid {
		fill: #1e4254;
	}

	.zc-darkerLivid {
		fill: #1e4254;
	}